@media only screen and (max-width: 1200px) {

    .container {
        margin: 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1100px) {html {font-size: 50%;}



@media only screen and (max-width: 900px) {
    .content {flex-direction: column;}

    .side-nav {
        display: flex;
        margin: 0;
    }

    .legal {display: none;}

    .side-nav__item {flex: 1; /* daca ii dam val 1 atunci meniul va ocupa tot spatiul*/}

    .side-nav__item:not(:last-child) {margin: 0;}

    .side-nav_link:link,
    .side-nav_link:visited {
        justify-content: center;
        padding: 2rem;
    }

    .detail {
        padding: 3rem;
    }

    .description {
        padding: 2rem;
        margin-right: 3rem;
    }

    .review {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .cta {
        padding: 2.5rem 0;
    }
}

@media only screen and (max-width: 600px) {

    .detail {flex-direction: column;}

    .description {margin-right: 0;}

    .user-reviews {margin-top: 3rem;}


    .side-nav_link:link,
    .side-nav_link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem;
    }

    .side-nav_icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    .header {
        flex-wrap: wrap;
        height: 11rem;
    }
    .search {
        order:1;
        flex: 0 0 100%;
        align-content: space-between;
    }

}